<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Token" Class="mr-3 mb-n1"/>
            登录记录
        </MudText>
    </TitleContent>

    <DialogContent>
        <MudTable Hover="true"
                  @ref="_table"
                  Loading="_isLoading"
                  ServerData="(x, _) => LoadDataAsync(x)"
                  CurrentPage="@(_pageIndex - 1)"
                  RowsPerPage="PageSize">
            <HeaderContent>
                <MudTh>
                    账号
                </MudTh>
                <MudTh>
                    IP地址
                </MudTh>
                <MudTh Style="max-width: 15em">
                    User-Agent
                </MudTh>
                <MudTh>
                    SessionId
                </MudTh>
                <MudTh>
                    登录方式
                </MudTh>
                <MudTh>
                    登录结果
                </MudTh>
                <MudTh>
                    创建时间
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="账号">
                    @context.Account
                </MudTd>
                <MudTd DataLabel="IP地址">
                    @context.IpAddress
                </MudTd>
                <MudTd DataLabel="User-Agent">
                    <MudTooltip Text="@context.UserAgent">
                        <div
                            style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient:vertical;max-width: 15em">
                            @context.UserAgent
                        </div>
                    </MudTooltip>
                </MudTd>
                <MudTd DataLabel="SessionId">
                    @context.SessionId
                </MudTd>
                <MudTd DataLabel="登录方式">
                    @context.MethodStr
                </MudTd>
                <MudTd DataLabel="登录结果">
                    <MudChip T="string" Color="@context.Color">@context.StatusStr</MudChip>
                </MudTd>
                <MudTd DataLabel="创建时间">
                    @context.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager RowsPerPageString="每页数量"
                               HideRowsPerPage="true"
                               PageSizeOptions="new[] { 15, 20, 30 }"
                               InfoFormat="此页显示{first_item}-{last_item} 共{all_items}条"/>
            </PagerContent>
        </MudTable>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close">关闭</MudButton>
    </DialogActions>
</MudDialog>