@page "/dynamic/post"
@attribute [Authorize]
@using Microsoft.AspNetCore.Components.Forms

<div class="dynamic-form">
    <div class="dynamic-form__header">
        <h1 class="dynamic-form__title">新建动态页</h1>
        <p class="dynamic-form__description">发布活动页面与示例页面，打造更有质感的内容入口</p>
    </div>

    <EditForm Model="@_t" OnValidSubmit="PostDataAsync">
        <DataAnnotationsValidator />
        <div class="dynamic-form__content">
            <div class="dynamic-form__section">
                <div class="dynamic-form__section-title">基础信息</div>
                <div class="dynamic-form__grid">
                    <div class="form-group">
                        <label class="form-label form-label--required">页面名称</label>
                        <input type="text" class="form-control" placeholder="如 index.html / home / launch" @bind="_name"
                            @bind:event="oninput" />
                        <div class="dynamic-form__hint">用于访问地址的唯一标识</div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">访问地址</label>
                        <input type="text" class="form-control" value="@BuildPreviewUrl(_name)" readonly />
                    </div>
                </div>
            </div>

            <div class="dynamic-form__section dynamic-form__section--editor">
                <div class="dynamic-form__section-title">页面内容</div>
                <div class="dynamic-form__editor">
                    <HtmlEditor @ref="_editor" Html="@_htmlContent.ToString()"></HtmlEditor>
                </div>
            </div>

            <div class="dynamic-form__validation">
                <ValidationSummary />
            </div>
        </div>

        <div class="dynamic-form__actions">
            <button class="btn btn-secondary" type="button" @onclick="BackToList" disabled="@_isPublishing">
                返回列表
            </button>
            <button class="btn btn-primary" type="submit" disabled="@_isPublishing">
                @if (_isPublishing)
                {
                    <span class="btn-loading">
                        <span class="btn-loading__spinner"></span>
                        发布中
                    </span>
                }
                else
                {
                    <span>发布</span>
                }
            </button>
        </div>
    </EditForm>
</div>

@if (_isPublishing)
{
    <div class="dynamic-form__loading-overlay">
        <div class="dynamic-form__loading-content">
            <div class="dynamic-form__loading-spinner"></div>
            <div class="dynamic-form__loading-text">正在发布...</div>
        </div>
    </div>
}