@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager Navigation

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            @if (Attribute.IsDefined(routeData.PageType, typeof(AuthorizeAttribute)))
            {
                <AuthorizeView>
                    <Authorized>
                        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
                    </Authorized>
                    <Authorizing>
                        <LayoutView Layout="@typeof(PublicLayout)">
                            <div class="auth-state">
                                <div class="auth-state__icon auth-state__icon--primary">
                                    <i class="fas fa-shield-alt"></i>
                                </div>
                                <div class="auth-state__pulse"></div>
                                <h1 class="auth-state__title">正在验证身份</h1>
                                <p class="auth-state__description">请稍候，正在检查您的登录状态...</p>
                                <div class="auth-state__progress">
                                    <div class="auth-state__progress-bar"></div>
                                </div>
                            </div>
                        </LayoutView>
                    </Authorizing>
                    <NotAuthorized>
                        <LayoutView Layout="@typeof(PublicLayout)">
                            <AuthLoginPrompt ReturnUrl="@Navigation.Uri" Seconds="5"/>
                        </LayoutView>
                    </NotAuthorized>
                </AuthorizeView>
            }
            else
            {
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(PublicLayout)"/>
            }
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(NotFound)">

            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
