@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized Context="auth">
        <div class="person-card @Class" style="@Style">
            <div class="person-card__header">
                <div class="person-card__avatar">
                    @{
                        var avatar = auth.User?.FindFirst("picture")?.Value;
                    }
                    @if (!string.IsNullOrWhiteSpace(avatar))
                    {
                        <img src="@avatar" alt="Avatar"/>
                    }
                    else
                    {
                        <i class="fas fa-user"></i>
                    }
                </div>
                <div class="person-card__content">
                    <div class="person-card__name">@auth.User.Identity?.Name</div>
                    <div class="person-card__sign">@auth.User.FindFirst("Sign")?.Value</div>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter] public string Class { get; set; }
    [Parameter] public string Style { get; set; }
}